---
permalink: "/sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.baseUrl }}/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/" />
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/free-starter-kit/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/free-starter-kit/" />
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/contact/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/contact/" />
    <changefreq>monthly</changefreq>
    <priority>0.4</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/cookies/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/cookies/" />
    <changefreq>monthly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/privacy/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/privacy/" />
    <changefreq>monthly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/terms/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/terms/" />
    <changefreq>monthly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/the-guide/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/the-guide/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/about-the-author/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/about-the-author/" />
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/guarantee/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.baseUrl }}/guarantee/" />
    <changefreq>monthly</changefreq>
    <priority>0.4</priority>
  </url>
  {# include other pages automatically if needed in future #}
</urlset>
